.sidenav {
    height: 0;
    width: 15vw;
    position: fixed;
    z-index: 1;

    top: 0;
    left: 85vw;
    background-color: #111;
    overflow-x: hidden;

    padding-top: 15vh;
    transition: 0.5s;
    opacity: 0;
}

.sidenav a {
    padding: 1.5vh 2vw 1vh 5vw;
    text-decoration: none;
    font-size: 2vw;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 2vw;
    }
}