/* @import fonts and stuff here */
<style >
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style >

/* general */
html,
body {
    height: 100%;
    text-align: center;
    background: linear-gradient(270deg, #ffead1, #ffb6bd, #e0b5ff);
    background-size: 150% 150%;
    animation: backgroundAnimation 10s ease infinite;
    display: flex;
}

/* intro */
.intro {
    display: table;
    table-layout: fixed;
    height: 0;
    width: 100%;
    z-index: 10;
}

.main .works{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}