/* @import fonts and stuff here */

/* general */

html,
body {
    height: 100%;
}

.div {
    background-color: tan;
}

/* intro */
.intro {
    text-align: center;
    /*background-image: url("../images/bg.png");*/
    background-size: cover;
    display: table;
    table-layout: fixed;
    height: 0;
    width: 100%;
    z-index: 10;
}

.side {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
}


/* nav menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* hover color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* style page */
.desc {
    margin-left: 160px; /*sidebar width*/
    padding: 0px 10px;
}

/*for smaller screens*/
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

img {
    width: 512px;
    height: 512px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.works {
    background-color: white;
}