@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* general */
html,
body {
    height: 100%;
    text-align: center;
    font-family: 'Roboto';
    letter-spacing: 3px;
    /* background: linear-gradient(270deg, #ffead1, #ffb6bd, #e0b5ff);
    background-size: 150% 150%;
    animation: backgroundAnimation 10s ease infinite; */
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.background {
    height: 100%;
    background: url("../images/lights.png") no-repeat;
    background-size: cover;
    z-index: -1;
}

.caption-container {
    color: rgba(0, 0, 26, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.container {
    animation: load 0.6s ease-in-out;
    animation-fill-mode: both;
    position: absolute;
    top: 55%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.bg {
    opacity: 0.7;
}

.overlay {
    animation: loadup 1s ease-in-out;
    animation-fill-mode: both;
}

.cover-container {
    max-width: 42em;
}

.main {
    background-image: url("../img/lights.png");
}

.caption {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro {
    display: table;
    table-layout: fixed;
    height: 0;
    width: 100%;
    z-index: 10;
}

.main .works{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@keyframes load {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes loadup {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}



/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(0, 0, 26, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(0, 0, 26, .25);
    }

    .nav-masthead .nav-link + .nav-link {
        margin-left: 1rem;
    }

.nav-masthead .active {
    color: #00001a;
    border-bottom-color: #00001a;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

