@import url('https://fonts.googleapis.com/css?family=Roboto');

/* general */
html,
body {
    height: 130%;
    font-family: 'Roboto';
    letter-spacing: 3px;
}

body {
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.contents {
    max-width: 42em;
    color: rgba(0, 0, 26, .5);
}

.caption {
    text-align: left;
    color: rgba(0, 0, 26, .5);
    position: absolute;
    top: 8%;
    left: 30%;
}

.caption-a {
    text-align: left;
    color: rgba(0, 0, 26, .5);
    position: absolute;
    top: 10%;
    left: 50%;
}

.caption-b {
    color: rgba(0, 0, 26, .5);
    position: absolute;
    top: 52%;
    left: 50%;
}

.caption-c {
    color: rgba(0, 0, 26, .5);
    position: absolute;
    top: 89%;
    left: 50%;
}

.caption-d {
    color: rgba(0, 0, 26, .5);
    position: absolute;
    top: 126%;
    left: 50%;
}

.side-nav {
    border-left: 3px solid rgba(0, 0, 26, .5);
    height: 90em;
    position: absolute;
    top: 15%;
    left: 12%;
    opacity: .85;
    line-height: 2250%;
}

@media (max-width: 1180px) {
    .side-nav {
        display: none;
    }
}

.side-nav a {
    position: relative;
}

.back {
    color: rgba(0, 0, 26, .5);
    position: absolute;
    top: 9%;
    left: 12%;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgba(0, 0, 26, 1);
    border-radius: 50%;
    display: inline-block;
    -moz-transform: translateX(-66%);
    -webkit-transform: translateX(-66%);
}

.dot-b {
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 26, 0.25);
    border-radius: 50%;
    display: inline-block;
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    z-index: -1;
}

.dot-b:hover {
    animation: hov 1s ease-in-out;
}

a {
    color: rgba(0, 0, 26, .5);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 206, .5);
    text-decoration: underline;
}

a:active {
    color: rgba(0, 0, 206, .5);
}

a:visited {
    color: rgba(0, 0, 206, .5);
}

/*container*/
.portfolio {
    padding-top: 3em;
    height: auto;
    width: 200%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    -moz-transform: translateX(30%) translateY(30%);
    -webkit-transform: translateX(30%) translateY(30%);
}

.top-buffer {
    margin-top: 10px;
}

.thicc-buffer {
    margin-top: 20px;
}

img {
    opacity: 0.9;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

.spacer {
    opacity: 0;
}

@keyframes hov {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
