@import url('https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic+Coding');

html,
body {
    cursor: url("../images/cursor.png"), auto;

    overflow-y: hidden;
    color: white;
    font-size: 100%;
    background-image: url("../images/bg3.png");
    
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-weight: 900;
    font-size: 6vh;
}

h2 {
    font-weight: 600;
    font-size: 4vh;
}

a {
    color: white;
    text-decoration: none;
    z-index: 10;
}

a:hover {
    color: pink;
}

.nav {
    position: absolute;
    margin-top: 2vh;
    margin-left: 95vw;
    z-index: 10;
}

.menu {
    border: none; 
    color: rgb(47, 62, 83); 
    font-size: 150%;
    cursor: pointer; 
    background: transparent;
    z-index: 10;
}

.links {
    font-size: 1.2em;
    opacity: 0;
}

.is-active {
    animation: onActive 1s ease-out forwards;
}

/*
.not-active {
    animation: offActive 1s ease-out forwards;
}
*/

.links-active {
    animation: linkLoad 0.4s 0.8s ease-out forwards;
}

.fa-close {
    animation: onActive 1s ease-out forwards;
}

/* .links-inactive {
    animation: linkLoad 0.4s 0.8s ease-in backwards;
}  */

@keyframes onActive {
    0% {
        color: rgb(47, 62, 83);
    }
    50% {
        color: rgb(47, 62, 83);
    }
    100% {
        color:white;
    }
}

@keyframes linkLoad {
    from {
        opacity: 0;
        margin-top: -100%;
    }
    to {
        opacity: 1;
        margin-top: 0%;
    }
}