body {
    font-family: Verdana, Geneva, sans-serif;
}



#box {
        width: 200px;
        height: 200px;
        background-color: blue;
        display: none;
        position: relative; 
}

/* The animation code */
@keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
}
  
/* The element to apply the animation to */
#bg {
    padding-top: 3vh;
    padding-left: 2vw;
    margin-left: 1vw;
    width: 550px;
    height: 500px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}